@font-face {
    font-family: Raleway;
    src: url("font/Raleway-Regular.ttf");
}

/*BALISES*/
html {
    font-family: Raleway;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body {
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 35px 0px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

li {
    list-style-type: none;
}
/*END BALISE*/

/*HEADER*/

.logo {
    width: 64px;
}

.menu {
    float: right;
    margin: 0px 20px 0px 0px;
}

.linkMenu {
    margin-right: 40px;
}

.linkMenu:hover {
    border-top: 2px solid #0065FC;
    border-radius: 2px;
    color: #0065FC;
    padding-top: 24px;
}

.signUp {
    color:#0065FC;
}

/*END HEADER*/

/*FORM*/
.formSearch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.submit {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 12px;
  cursor: pointer;
}

.inputSearch {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 12px;
    font-weight: bold;
  }

  .iconSearch {
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    text-align: center;
  }
/*END FORM*/

/*FILTERS*/

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.filter-category {
    border-radius: 35px;
    text-align: center;
    border: 1px solid RGB(220, 220, 220);
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 15px 0px 0px;
    list-style-type: none;
    margin: 20px;
    margin-left: 0px;
    font-size: 18px;
}

.filter-category:hover {
    background-color: whitesmoke;
}

.filter-category a {
    padding-left: 10px;
}

.filter {
    padding-right: 15px;
    font-weight: bolder;
}

.icon {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    font-size: 16px;
    padding: 8px;
    width: 1.15em;
}

/*END FILTERS*/

.informations {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.iconInfo {
    color: #0065FC;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    padding:10px;
    text-align:center;
    width:14px;
    height: 14px;
    margin-right: 10px;
}

/*HOSTING*/

.hosting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.cardHosting, .cardPopular {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px;
}

/*cardHosting*/

.cardHosting {
    width: 70%;
}

.cardHosting article {
    background-color: white;
    border-radius: 20px;
    margin: 15px;
}

.cardHosting article img {
    width: 12em;
    height: 6em;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    
}

.boxHosting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.boxHosting article {
    box-shadow: 0px 2px 10px #0000002e;
}

.infosBoxHosting {
    margin: auto;
    padding-left: 15px;
}

.dtHosting {
    font-size: 0.9em;
    font-weight: bold;
}

.ddHosting {
    font-size: 0.8em;
    margin: auto;
    margin: 5px 0px 5px 0px;
}

/*END cardHosting*/

/*cardPopular*/

.cardPopular {
    width: 20%;
}

.cardPopular article {
    background-color: white;
    border-radius: 20px;
    margin: 15px;
}

.cardPopular article img {
    width: 8em;
    height: 8em;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    
}

.headerCardPopular {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.boxPopular {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.boxPopular article {
    box-shadow: 0px 2px 10px #0000002e;
}

.infosBoxPopular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px 30px 0px 5px;
}

.linkPopular {
    display: flex;
    align-items: stretch;
}

.dtPopular {
    font-size: 0.9em;
    font-weight: bold;
}

.ddPopular {
    font-size: 0.8em;
    margin: 5px 0px 5px 0px;
}

/*END cardPopular*/

/*cardActivity*/

.cardActivity {
    width: 100%;
}

.cardActivity article {
    border-radius: 20px;
    margin: 5px;
}

.cardActivity article img {
    width: 14em;
    height: 16em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    
}

.cardActivity .articleSmall img {
    width: 14em;
    height: 8em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    
}

.boxActivity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0px 20px 0px;
}

.boxActivity article {
    box-shadow: 0px 2px 10px #0000002e;
}

.boxActivity .articleBig img {
    height: 85%;

}

.duo .articleSmall {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.infosBoxActivity {
    margin: auto;
    padding: 15px;
}

.dtActivity {
    font-size: 0.8em;
    font-weight: bolder;
}

/*END cardActivity*/

/*stars*/

.starsOn[data-active=true] {
    color: #0065FC;
  }

.starsOn[data-active=false] {
    color: #d9d9d9;
  }

/*END stars*/

/*FOOTER*/

footer {
    height: 100%;
    margin: 0px -50px 0px -50px;
}

.sitemap {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.links {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.links li h5 {
    margin-bottom: 10px;
}

.links li a {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin-bottom: 5px;
    padding: 0px;
}

/*END FOOTER*/