@font-face {
    font-family: Raleway;
    src: url("font/Raleway-Regular.ttf");
}

/*BALISES*/
html {
    font-family: Raleway;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body {
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding-left: 0px;
}
/*END BALISE*/

/*HEADER*/

.logo {
    width: 64px;
}

.menu {
    float: right;
    margin: 0px 20px 0px 0px;
}

.linkMenu {
    margin-right: 40px;
}

.linkMenu:hover {
    border-top: 2px solid #0065FC;
    border-radius: 2px;
    color: #0065FC;
    padding-top: 24px;
}

.signUp {
    color:#0065FC;
}

/*END HEADER*/

/*FORM*/
.formSearch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.submit {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 12px;
  cursor: pointer;
}

.inputSearch {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 12px;
    font-weight: bold;
  }

  .iconSearch {
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    text-align: center;
  }
/*END FORM*/

/*FILTERS*/

.filter-category {
    border-radius: 35px;
    text-align: center;
    border: 1px solid RGB(220, 220, 220);
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 15px 0px 0px;
}

.filter-category:hover {
    background-color: whitesmoke;
}

.filter-category a {
    padding-left: 10px;
}

.icon {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    font-size: 16px;
    padding: 8px;
    width: 1.15em;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*END FILTERS*/

.informations {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.iconInfo {
    color: #0065FC;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    padding:10px;
    text-align:center;
    width:14px;
    height: 14px;
    margin-right: 10px;
}

/*HOSTING*/

.hosting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.cardHost, .cardPopular {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.cardHost article {
    background-color: white;
    border-radius: 20px;
    margin: 15px;
}

.cardHost article img {
    width: 12em;
    height: 6em;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    
}

.cardHost {
    width: 70%;
}


.cardPopular {
    width: 20%;
}

h4, p, .stars {
    padding: 0px 0px 10px 10px;
}

.starsOn[data-active=true] {
    color: #0065FC;
  }

.starsOn[data-active=false] {
    color: #d9d9d9;
  }

