@font-face {
    font-family: Raleway;
    src: url("font/Raleway-Regular.ttf");
}

/*BALISES*/
html {
    font-family: Raleway;
}

body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

p {
    font-size: 1em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

li {
    list-style-type: none;
}
/*END BALISE*/

/*HEADER*/

.logo {
    width: 64px;
}

.menu {
    float: right;
}

.linkMenu {
    margin-right: 4em;
}

.linkMenu:hover {
    border-top: 0.5em solid #0065FC;
    border-radius: 0.1em;
    color: #0065FC;
    padding-top: 2.2em;
}

.signUp {
    color:#0065FC;
}

/*END HEADER*/

/*FORM*/
.search {
    margin-left: 2em;
}

.formSearch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.submit {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 12px;
  cursor: pointer;
}

.inputSearch {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 12px;
    font-weight: bold;
  }

  .iconSearch {
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    text-align: center;
  }
/*END FORM*/

/*FILTERS*/

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.filterCategory {
    border-radius: 1em;
    text-align: center;
    border: 1px solid RGB(220, 220, 220);
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-right: 1em;
    list-style-type: none;
    margin: 1em;
    font-size: 1em;
}

.filterCategory:hover {
    background-color: whitesmoke;
}

.filterCategory a {
    padding-left: 1em;
}

.filter {
    padding-right: 1em;
    font-weight: bolder;
}

.icon {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    font-size: 1em;
    padding: 0.5em;
    width: 1.15em;
}

/*END FILTERS*/

.informations {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0em 0em 2em 2em;
}

.iconInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #0065FC;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    text-align:center;
    padding: 0.5em;
    width: 0.8em;
    height: 0.8em;
    margin-right: 1em;
}

/*HOSTING*/

.hosting {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;

}

.cardHosting, .cardPopular {
    background-color: #F2F2F2;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

/*cardHosting*/

.cardHosting {
    width: 80%;
}

.cardHosting article {
    background-color: white;
    border-radius: 1em;
    margin: 1em;
}

.cardHosting article img {
    width: 12em;
    height: 6em;
    padding: 0.3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
    
}

.boxHosting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 1em;
}

.boxHosting article {
    box-shadow: 0em 0.5em 1em #0000002e;
}

.infosBoxHosting {
    margin: auto;
    padding-left: 1em;
}

.dtHosting {
    font-size: 0.8em;
    font-weight: bold;
}

.ddHosting {
    font-size: 0.8em;
    margin: auto;
    margin: 0.5em 0em 0.5em 0em;
}

/*END cardHosting*/

/*cardPopular*/

.cardPopular {
    width: 20%;
}

.cardPopular article {
    background-color: white;
    border-radius: 1em;
    margin: 1em;
}

.cardPopular article img {
    width: 8em;
    height: 8em;
    padding: 0.3em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    object-fit: cover;
    
}

.headerCardPopular {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.boxPopular {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.boxPopular article {
    box-shadow: 0em 0.5em 1em #0000002e;
}

.infosBoxPopular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0em 0.5em 0em 0.5em;
}

.linkPopular {
    display: flex;
    align-items: stretch;
}

.dtPopular {
    font-size: 0.8em;
    font-weight: bold;
}

.ddPopular {
    font-size: 0.8em;
    margin: 0.5em 0em 0.5em 0em;
}

/*END cardPopular*/

/*cardActivity*/

.cardActivity {
    margin-left: 3em;
    margin-right: 3em;
}

.cardActivity article {
    border-radius: 1em;
    margin: 1em;
}

.cardActivity article img {
    width: 14em;
    height: 16em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
    
}

.cardActivity .articleSmall img {
    width: 14em;
    height: 8em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
    
}

.boxActivity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 1em 0em 1em 0em;
}

.boxActivity article {
    box-shadow: 0em 0.5em 1em #0000002e;
}

.boxActivity .articleBig img {
    height: 85%;

}

.duo .articleSmall {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.infosBoxActivity {
    margin: auto;
    padding: 1em;
}

.dtActivity {
    font-size: 0.8em;
    font-weight: bolder;
}

/*END cardActivity*/

/*stars*/

.starsOn[data-active=true] {
    color: #0065FC;
  }

.starsOn[data-active=false] {
    color: #d9d9d9;
  }

/*END stars*/

/*FOOTER*/

footer {
    height: 100%;
}

.sitemap {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.links {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.links li a {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin-bottom: 0.5em;
}

.headTitleFooter {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 1em;
}

/*END FOOTER*/

@media (min-device-width:1024px) {
    .cardHosting {
        width:70%;
    }
    .cardPopular {
        width: 30%;
    }
}